<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment-with-locales.js"></script>
</head>

<body>
    <canvas id="viewport"></canvas>
    <script src = "../js/sketch.js"></script>
    <script src = "../js/bubble.js"></script>
    <script src = "../js/frame.js"></script>
    <script src = "../js/center.js"></script>
    <script src = "../js/box.js"></script>
    <script src = "../js/star.js"></script>
    <script src = "../js/token.js"></script>
    <script src = "../js/sketch1.js"></script>
</body>
</html>